### Create a folder structure that is readable by RA (i.e. input folder, output folder etc.)

In [1]:
import pandas as pd
import os
import re

### Make folder structure of storing output similar to Dataflow folder structure.

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'df.dta',
 'my_practice.ipynb',
 'output.xlsx',
 'practice.ipynb',
 'ProductPriceIndex.csv']

In [27]:
df = pd.read_csv('ProductPriceIndex.csv')

In [28]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%

In [5]:
os.getcwd()

'C:\\Users\\Fabliha\\Documents\\exam_practice'

In [6]:
root_path = 'I:\\My Drive\\exam_practice'

In [7]:
lists = ['01.dataset', '02.codes', '03.output_folder', '04.input_folder']

In [8]:
for items in lists: 
    os.path.join(root_path, items)
    os.mkdir(items)

In [10]:
len(df['productname'].unique())

22

In [ ]:
### Use Regular Expression and search

In [11]:
txt = "Green Leaf Lettuce"
x = re.search("^Green.*Lettuce$", txt)

if x:
  print("YES! We have a match!", x)
else:
  print("No match")

YES! We have a match! <re.Match object; span=(0, 18), match='Green Leaf Lettuce'>

### Make a column "Strawberry" which will contain dichotomous variable[1]. It will return 1 for observations that contain "Strawberries" and 0 otherwise.

In [12]:
def dichotomous_variable(product_name):
    if product_name == 'Strawberries':
        return 1
    else:
        return 0

In [20]:
def dichotomous_variable_multiple(product_name, fruit_name):
    if product_name == fruit_name:
        return 1
    else:
        return 0

In [22]:
dichotomous_variable_multiple("Strawberries", "Banana")

0

In [13]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%

In [14]:
df["Strawberries"] = df["productname"].apply(dichotomous_variable)
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Strawberries
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,1
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,0
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,0
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,0
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,0
...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,0
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,0
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,0
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,0
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,0

### Now do it for whole dataset

In [16]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Strawberries
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,1
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,0
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,0
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,0
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,0
...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,0
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,0
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,0
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,0
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,0

In [17]:
# df.pop("product_category")

In [18]:
unique_product_name = df["productname"].unique().tolist()
unique_product_name

['Strawberries',
 'Romaine Lettuce',
 'Red Leaf Lettuce',
 'Potatoes',
 'Oranges',
 'Iceberg Lettuce',
 'Green Leaf Lettuce',
 'Celery',
 'Cauliflower',
 'Carrots',
 'Cantaloupe',
 'Broccoli Crowns',
 'Avocados',
 'Broccoli Bunches',
 'Asparagus',
 'Flame Grapes',
 'Thompson Grapes',
 'Honeydews',
 'Tomatoes',
 'Plums',
 'Peaches',
 'Nectarines']

In [ ]:
def dichotomous_variable_multiple(product_name, fruit_name):
    if product_name == fruit_name:
        return 1
    else:
        return 0

In [24]:
for product_name in unique_product_name:
    df[product_name] = df["productname"].apply(dichotomous_variable_multiple, args=(product_name,))

In [26]:
for product_name in unique_product_name:
    print(product_name)

Strawberries
Romaine Lettuce
Red Leaf Lettuce
Potatoes
Oranges
Iceberg Lettuce
Green Leaf Lettuce
Celery
Cauliflower
Carrots
Cantaloupe
Broccoli Crowns
Avocados
Broccoli Bunches
Asparagus
Flame Grapes
Thompson Grapes
Honeydews
Tomatoes
Plums
Peaches
Nectarines

In [25]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Strawberries,Romaine Lettuce,...,Avocados,Broccoli Bunches,Asparagus,Flame Grapes,Thompson Grapes,Honeydews,Tomatoes,Plums,Peaches,Nectarines
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,0,0,...,0,0,0,0,0,0,0,0,0,0
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,0,0,...,0,1,0,0,0,0,0,0,0,0
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,0,0,...,0,0,0,0,0,0,0,0,0,0
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,0,0,...,0,0,0,0,0,0,0,0,0,0
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:

import pandas as pd
 
con = pd.Series(list('abcba'))
print(pd.get_dummies(con))

       a      b      c
0   True  False  False
1  False   True  False
2  False  False   True
3  False   True  False
4   True  False  False

In [30]:
con

0    a
1    b
2    c
3    b
4    a
dtype: object

In [32]:
df_new = pd.get_dummies(df["productname"])
df_new

,Asparagus,Avocados,Broccoli Bunches,Broccoli Crowns,Cantaloupe,Carrots,Cauliflower,Celery,Flame Grapes,Green Leaf Lettuce,...,Nectarines,Oranges,Peaches,Plums,Potatoes,Red Leaf Lettuce,Romaine Lettuce,Strawberries,Thompson Grapes,Tomatoes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15761,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15762,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15763,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15764,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15765,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [42]:
df = pd.concat([df, df_new], axis=1)
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Asparagus,Avocados,...,Nectarines,Oranges,Peaches,Plums,Potatoes,Red Leaf Lettuce,Romaine Lettuce,Strawberries,Thompson Grapes,Tomatoes
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,False,False,...,False,False,False,False,False,False,False,True,False,False
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,False,False,...,False,False,False,False,False,False,True,False,False,False
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,False,False,...,False,False,False,False,False,True,False,False,False,False
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,False,False,...,False,False,False,False,True,False,False,False,False,False
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,False,False,...,False,False,False,False,False,False,False,False,False,False
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,False,False,...,False,False,False,False,False,False,False,False,False,False
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,False,False,...,False,False,False,False,False,False,False,False,False,False
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,False,False,...,False,False,False,False,False,False,False,False,False,False
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,False,False,...,False,False,False,False,False,False,False,False,False,False

In [56]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Asparagus,Avocados,...,Nectarines,Oranges,Peaches,Plums,Potatoes,Red Leaf Lettuce,Romaine Lettuce,Strawberries,Thompson Grapes,Tomatoes
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,False,False,...,False,False,False,False,False,False,False,True,False,False
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,False,False,...,False,False,False,False,False,False,True,False,False,False
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,False,False,...,False,False,False,False,False,True,False,False,False,False
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,False,False,...,False,False,False,False,True,False,False,False,False,False
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,False,False,...,False,False,False,False,False,False,False,False,False,False
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,False,False,...,False,False,False,False,False,False,False,False,False,False
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,False,False,...,False,False,False,False,False,False,False,False,False,False
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,False,False,...,False,False,False,False,False,False,False,False,False,False
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,False,False,...,False,False,False,False,False,False,False,False,False,False

In [59]:
df.isna().any()

productname           False
date                  False
farmprice             False
atlantaretail         False
chicagoretail         False
losangelesretail      False
newyorkretail         False
averagespread         False
Asparagus             False
Avocados              False
Broccoli Bunches      False
Broccoli Crowns       False
Cantaloupe            False
Carrots               False
Cauliflower           False
Celery                False
Flame Grapes          False
Green Leaf Lettuce    False
Honeydews             False
Iceberg Lettuce       False
Nectarines            False
Oranges               False
Peaches               False
Plums                 False
Potatoes              False
Red Leaf Lettuce      False
Romaine Lettuce       False
Strawberries          False
Thompson Grapes       False
Tomatoes              False
dtype: bool

In [61]:
df["farmprice"] = df["farmprice"].replace("","0")

In [44]:
df["farmprice"][0]

'$1.16'

In [51]:
"$1.16".replace("$","")

'1.16'

In [52]:
df["farmprice"].str.replace("$","")

0        1.16
1        0.35
2        0.32
3        1.50
4        0.41
         ...
15761    0.29
15762    0.23
15763    0.19
15764    0.12
15765    0.21
Name: farmprice, Length: 15766, dtype: object

In [64]:
df["farmprice_Numeric"] = df["farmprice"].str.replace("$","")
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Asparagus,Avocados,...,Oranges,Peaches,Plums,Potatoes,Red Leaf Lettuce,Romaine Lettuce,Strawberries,Thompson Grapes,Tomatoes,farmprice_Numeric
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,False,False,...,False,False,False,False,False,False,True,False,False,1.16
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,False,False,...,False,False,False,False,False,True,False,False,False,0.35
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,False,False,...,False,False,False,False,True,False,False,False,False,0.32
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,False,False,...,False,False,False,True,False,False,False,False,False,1.50
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,False,False,...,True,False,False,False,False,False,False,False,False,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,False,False,...,False,False,False,False,False,False,False,False,False,0.29
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,False,False,...,False,False,False,False,False,False,False,False,False,0.23
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,False,False,...,False,False,False,False,False,False,False,False,False,0.19
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,False,False,...,False,False,False,False,False,False,False,False,False,0.12
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,False,False,...,False,False,False,False,False,False,False,False,False,0.21

In [66]:
df["farmprice_Numeric"] = df["farmprice_Numeric"].replace("","0")

In [67]:
df["farmprice_Numeric"].unique()

array(['1.16', '0.35', '0.32', '1.50', '0.41', '0.31', '2.83', '1.22',
       '0.24', '1.25', '0.73', '1.23', '0.91', '0.36', '0.34', '2.84',
       '2.74', '0.30', '1.41', '0.81', '1.09', '0.58', '1.60', '0.38',
       '2.46', '3.33', '0.93', '1.01', '0.39', '2.63', '3.23', '1.04',
       '1.27', '0.94', '0.69', '0.51', '0.45', '0.42', '0.43', '2.98',
       '1.96', '0.75', '0.85', '1.03', '0.90', '0.56', '0.44', '0.57',
       '1.18', '0.29', '0.46', '1.13', '2.43', '1.08', '0.50', '2.90',
       '1.06', '0.49', '1.81', '2.73', '0.99', '0.65', '1.19', '2.34',
       '1.70', '0.89', '1.88', '0.60', '0.92', '2.70', '1.98', '0.97',
       '0.64', '0.48', '2.22', '0.55', '0.70', '1.78', '2.45', '0.96',
       '1.07', '0.52', '1.75', '0.79', '0.82', '1.34', '3.38', '1.17',
       '1.63', '0.68', '0.88', '1.71', '3.04', '0.98', '2.25', '0.40',
       '1.72', '2.27', '0.63', '1.14', '1.64', '1.39', '0.47', '0.37',
       '0.33', '1.42', '0.66', '2.50', '0.78', '1.31', '2.11', '0.74',
       '2.10', '0.61', '1.00', '0.76', '2.88', '0.83', '1.10', '3.06',
       '0.71', '3.25', '2.03', '1.84', '1.20', '1.36', '2.04', '2.16',
       '1.44', '2.69', '1.91', '1.54', '2.08', '0.72', '1.66', '2.17',
       '1.46', '0.77', '2.47', '1.33', '1.21', '0.59', '1.62', '0.87',
       '0.53', '1.83', '1.11', '0.67', '1.47', '1.35', '0.54', '0.84',
       '1.15', '1.80', '0.86', '1.05', '1.65', '1.58', '1.89', '0.28',
       '0.95', '0.80', '1.29', '1.02', '2.80', '1.40', '2.52', '1.43',
       '1.38', '1.52', '1.61', '2.00', '2.32', '0.62', '2.06', '2.05',
       '1.26', '2.64', '1.69', '1.55', '2.18', '2.33', '2.92', '2.53',
       '1.45', '2.42', '1.99', '1.76', '1.37', '1.56', '1.32', '0.27',
       '1.48', '1.12', '1.28', '1.87', '1.30', '2.58', '0.26', '2.66',
       '2.12', '1.74', '1.82', '2.87', '1.73', '3.53', '2.14', '1.85',
       '2.09', '3.39', '2.49', '1.59', '0.22', '3.31', '2.13', '0.25',
       '1.77', '1.68', '1.53', '1.93', '2.19', '1.79', '3.00', '1.67',
       '1.49', '2.75', '2.61', '3.50', '0', '3.69', '4.04', '3.87',
       '3.76', '1.51', '3.55', '3.75', '2.40', '2.56', '0.09', '2.02',
       '2.24', '2.62', '2.65', '2.39', '3.13', '1.24', '1.94', '2.28',
       '0.00', '1.92', '2.37', '1.97', '2.07', '0.23', '2.38', '2.54',
       '2.96', '0.16', '2.20', '1.95', '2.21', '2.81', '0.21', '0.17',
       '9.00', '0.18', '0.19', '0.14', '0.20', '0.10', '3.19', '5.25',
       '0.15', '0.12', '0.11', '0.13', '1.57', '2.60', '2.44', '2.94',
       '2.91', '1.86', '0.08', '3.40', '3.24', '0.07', '2.89', '3.05',
       '3.41', '3.30', '2.48', '2.23', '2.97', '2.35', '2.71', '2.99',
       '2.55', '3.11', '2.51', '2.30', '2.86', '3.46', '3.21', '2.85',
       '3.09', '1.90', '2.68', '0.06', '3.86', '4.18', '4.34', '3.18',
       '3.26', '2.15', '0.04', '0.05'], dtype=object)

In [68]:
df["farmprice_Numeric"] = df["farmprice_Numeric"].astype(float)
df["farmprice_Numeric"]

0        1.16
1        0.35
2        0.32
3        1.50
4        0.41
         ...
15761    0.29
15762    0.23
15763    0.19
15764    0.12
15765    0.21
Name: farmprice_Numeric, Length: 15766, dtype: float64

In [69]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Asparagus,Avocados,...,Oranges,Peaches,Plums,Potatoes,Red Leaf Lettuce,Romaine Lettuce,Strawberries,Thompson Grapes,Tomatoes,farmprice_Numeric
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,False,False,...,False,False,False,False,False,False,True,False,False,1.16
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,False,False,...,False,False,False,False,False,True,False,False,False,0.35
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,False,False,...,False,False,False,False,True,False,False,False,False,0.32
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,False,False,...,False,False,False,True,False,False,False,False,False,1.50
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,False,False,...,True,False,False,False,False,False,False,False,False,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,False,False,...,False,False,False,False,False,False,False,False,False,0.29
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,False,False,...,False,False,False,False,False,False,False,False,False,0.23
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,False,False,...,False,False,False,False,False,False,False,False,False,0.19
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,False,False,...,False,False,False,False,False,False,False,False,False,0.12
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,False,False,...,False,False,False,False,False,False,False,False,False,0.21

In [97]:
farmprice_mean_by_date = df.groupby('date').agg({"farmprice_Numeric":"mean"}).reset_index()
farmprice_mean_by_date

            date  farmprice_Numeric
0     1999-10-24           0.208000
1     1999-10-31           0.302143
2     1999-11-07           0.341429
3     1999-11-14           0.354615
4     1999-11-21           0.342857
...          ...                ...
1014  2019-04-21           0.952308
1015  2019-04-28           1.036154
1016  2019-05-05           1.003333
1017  2019-05-12           1.046429
1018  2019-05-19           0.915385

[1019 rows x 2 columns]

In [77]:
 df.groupby('productname')

In [96]:
farmprice_mean_by_productname = df.groupby('productname').agg({"farmprice_Numeric":"mean"}).reset_index()
farmprice_mean_by_productname

           productname  farmprice_Numeric
0            Asparagus           1.439847
1             Avocados           0.746146
2     Broccoli Bunches           0.507585
3      Broccoli Crowns           0.554671
4           Cantaloupe           0.445456
5              Carrots           0.255538
6          Cauliflower           0.701368
7               Celery           0.504723
8         Flame Grapes           0.913852
9   Green Leaf Lettuce           0.356788
10           Honeydews           0.622348
11     Iceberg Lettuce           0.447288
12          Nectarines           0.499331
13             Oranges           0.248874
14             Peaches           0.454479
15               Plums           0.599283
16            Potatoes           1.080458
17    Red Leaf Lettuce           0.335444
18     Romaine Lettuce           0.367325
19        Strawberries           1.449466
20     Thompson Grapes           0.861986
21            Tomatoes           0.525974

In [72]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Asparagus,Avocados,...,Oranges,Peaches,Plums,Potatoes,Red Leaf Lettuce,Romaine Lettuce,Strawberries,Thompson Grapes,Tomatoes,farmprice_Numeric
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,False,False,...,False,False,False,False,False,False,True,False,False,1.16
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,False,False,...,False,False,False,False,False,True,False,False,False,0.35
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,False,False,...,False,False,False,False,True,False,False,False,False,0.32
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,False,False,...,False,False,False,True,False,False,False,False,False,1.50
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,False,False,...,True,False,False,False,False,False,False,False,False,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,False,False,...,False,False,False,False,False,False,False,False,False,0.29
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,False,False,...,False,False,False,False,False,False,False,False,False,0.23
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,False,False,...,False,False,False,False,False,False,False,False,False,0.19
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,False,False,...,False,False,False,False,False,False,False,False,False,0.12
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,False,False,...,False,False,False,False,False,False,False,False,False,0.21

In [92]:
df.groupby(["productname","date"]).agg({"farmprice_Numeric":"mean"})

                        farmprice_Numeric
productname date
Asparagus   2000-01-09               2.05
            2000-01-16               1.49
            2000-01-23               1.35
            2000-01-30               1.20
            2000-02-06               0.96
...                                   ...
Tomatoes    2018-09-23               0.52
            2018-09-30               0.60
            2018-10-07               0.60
            2018-10-14               0.48
            2018-10-21               0.64

[15685 rows x 1 columns]

In [98]:
farmprice_mean_by_date_and_productname = df.groupby(["productname","date"]).agg({"farmprice_Numeric":"mean"}).reset_index()
farmprice_mean_by_date_and_productname

      productname        date  farmprice_Numeric
0       Asparagus  2000-01-09               2.05
1       Asparagus  2000-01-16               1.49
2       Asparagus  2000-01-23               1.35
3       Asparagus  2000-01-30               1.20
4       Asparagus  2000-02-06               0.96
...           ...         ...                ...
15680    Tomatoes  2018-09-23               0.52
15681    Tomatoes  2018-09-30               0.60
15682    Tomatoes  2018-10-07               0.60
15683    Tomatoes  2018-10-14               0.48
15684    Tomatoes  2018-10-21               0.64

[15685 rows x 3 columns]

In [90]:
df.groupby(["productname"]).agg(farmprice_mean = ("farmprice_Numeric","mean"), farmprice_sd = ("farmprice_Numeric","std"))

                    farmprice_mean  farmprice_sd
productname
Asparagus                 1.439847      0.679125
Avocados                  0.746146      0.193180
Broccoli Bunches          0.507585      0.276416
Broccoli Crowns           0.554671      0.264909
Cantaloupe                0.445456      0.328197
Carrots                   0.255538      0.061865
Cauliflower               0.701368      0.645146
Celery                    0.504723      0.369814
Flame Grapes              0.913852      0.249292
Green Leaf Lettuce        0.356788      0.234941
Honeydews                 0.622348      0.578148
Iceberg Lettuce           0.447288      0.278261
Nectarines                0.499331      0.195195
Oranges                   0.248874      0.184451
Peaches                   0.454479      0.195888
Plums                     0.599283      0.239618
Potatoes                  1.080458      0.445718
Red Leaf Lettuce          0.335444      0.204623
Romaine Lettuce           0.367325      0.247955
Strawberries              1.449466      0.642838
Thompson Grapes           0.861986      0.294247
Tomatoes                  0.525974      0.257311

In [95]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Asparagus,Avocados,...,Oranges,Peaches,Plums,Potatoes,Red Leaf Lettuce,Romaine Lettuce,Strawberries,Thompson Grapes,Tomatoes,farmprice_Numeric
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,False,False,...,False,False,False,False,False,False,True,False,False,1.16
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,False,False,...,False,False,False,False,False,True,False,False,False,0.35
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,False,False,...,False,False,False,False,True,False,False,False,False,0.32
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,False,False,...,False,False,False,True,False,False,False,False,False,1.50
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,False,False,...,True,False,False,False,False,False,False,False,False,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,False,False,...,False,False,False,False,False,False,False,False,False,0.29
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,False,False,...,False,False,False,False,False,False,False,False,False,0.23
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,False,False,...,False,False,False,False,False,False,False,False,False,0.19
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,False,False,...,False,False,False,False,False,False,False,False,False,0.12
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,False,False,...,False,False,False,False,False,False,False,False,False,0.21

# Separate to two different excel files

In [123]:
writer = pd.ExcelWriter(f"mean_distribution.xlsx", engine='xlsxwriter')
writer

In [124]:
farmprice_mean_by_productname

           productname  farmprice_Numeric
0            Asparagus           1.439847
1             Avocados           0.746146
2     Broccoli Bunches           0.507585
3      Broccoli Crowns           0.554671
4           Cantaloupe           0.445456
5              Carrots           0.255538
6          Cauliflower           0.701368
7               Celery           0.504723
8         Flame Grapes           0.913852
9   Green Leaf Lettuce           0.356788
10           Honeydews           0.622348
11     Iceberg Lettuce           0.447288
12          Nectarines           0.499331
13             Oranges           0.248874
14             Peaches           0.454479
15               Plums           0.599283
16            Potatoes           1.080458
17    Red Leaf Lettuce           0.335444
18     Romaine Lettuce           0.367325
19        Strawberries           1.449466
20     Thompson Grapes           0.861986
21            Tomatoes           0.525974

In [125]:
farmprice_mean_by_date

            date  farmprice_Numeric
0     1999-10-24           0.208000
1     1999-10-31           0.302143
2     1999-11-07           0.341429
3     1999-11-14           0.354615
4     1999-11-21           0.342857
...          ...                ...
1014  2019-04-21           0.952308
1015  2019-04-28           1.036154
1016  2019-05-05           1.003333
1017  2019-05-12           1.046429
1018  2019-05-19           0.915385

[1019 rows x 2 columns]

In [126]:
farmprice_mean_by_productname.to_excel(writer, sheet_name='farmprice_mean_by_productname',startrow = 1,index=False)

In [127]:
sheet1 = writer.sheets['farmprice_mean_by_productname']
sheet1.set_column('A:Z',20)
sheet1.write("A1:C1","This is the mean of the farmprice by productname.")

0

In [128]:
# sheet2 = writer.sheets[f'Week {current_week} devices not included']
# sheet2.set_column('A:A', 20)
# # sheet2.write('A1:C1', 'These devices are not included in the API')
# sheet2.write('A1:C1', f'These devices are not included in the API + manually downloaded data of week {current_week}.')

In [129]:
farmprice_mean_by_date.to_excel(writer, sheet_name='farmprice_mean_by_date',startrow = 1,index=False)

In [130]:
writer.close()