### Create a folder structure that is readable by RA (i.e. input folder, output folder etc.)

In [19]:
import pandas as pd
import os
import re

### Make folder structure of storing output similar to Dataflow folder structure.

In [2]:
os.listdir()

['output.xlsx',
 'practice.ipynb',
 'ProductPriceIndex.csv',
 '.ipynb_checkpoints',
 'my_practice.ipynb']

In [3]:
df = pd.read_csv('ProductPriceIndex.csv')

In [4]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%

In [21]:
os.getcwd()

'I:\\My Drive\\exam_practice'

In [22]:
root_path = 'I:\\My Drive\\exam_practice'

In [23]:
lists = ['01.dataset', '02.codes', '03.output_folder', '04.input_folder']

In [25]:
for items in lists: 
    os.path.join(root_path, items)
    os.mkdir(items)

In [43]:
len(df['productname'].unique())

22

In [ ]:
### Use Regular Expression and search

In [30]:
txt = "Green Leaf Lettuce"
x = re.search("^Green.*Lettuce$", txt)

if x:
  print("YES! We have a match!", x)
else:
  print("No match")

YES! We have a match! <re.Match object; span=(0, 18), match='Green Leaf Lettuce'>

### Make a column "Strawberry" which will contain dichotomous variable[1]. It will return 1 for observations that contain "Strawberries" and 0 otherwise.

In [52]:
def dichotomous_variable(product_name):
    if product_name == 'Strawberries':
        return 1
    else:
        return 0

In [39]:
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%

In [40]:
df["Strawberries"] = df["productname"].apply(dichotomous_variable)
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Strawberries
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,1
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,0
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,0
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,0
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,0
...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,0
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,0
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,0
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,0
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,0

### Now do it for whole dataset

In [53]:
df.drop

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread,Strawberries,product_category
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%,1,0
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%,0,1
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%,0,2
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%,0,3
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%,0,4
...,...,...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%,0,11
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%,0,13
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%,0,8
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%,0,9
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%,0,10