In [3]:
import os
os.listdir("../01.dataset")

['ProductPriceIndex.csv']

In [8]:
import os
os.listdir("../03.output_folder")

[]

In [6]:
import pandas as pd
df = pd.read_csv("../01.dataset/ProductPriceIndex.csv")
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%

In [9]:
import pandas as pd

df = pd.read_csv("../01.dataset/ProductPriceIndex.csv")
df

df.farmprice = df.farmprice.str.replace("$","")
df.farmprice

unique_product_name = df["productname"].unique().tolist()
unique_product_name

def dichotomous_variable_multiple(product_name, fruit_name):
    if product_name == fruit_name:
        return 1
    else:
        return 0 

for product_name in unique_product_name:
    df[product_name] = df["productname"].apply(dichotomous_variable_multiple, args=(product_name,))

for product_name in unique_product_name:
    print(product_name)

df["farmprice"] = df["farmprice"].replace("","0")

df["farmprice_Numeric"] = df["farmprice"].str.replace("$","")
df

df["farmprice_Numeric"] = df["farmprice_Numeric"].replace("","0")


df["farmprice_Numeric"] = df["farmprice_Numeric"].astype(float)
df["farmprice_Numeric"]

farmprice_mean_by_date = df.groupby('date').agg({"farmprice_Numeric":"mean"}).reset_index()
farmprice_mean_by_date

farmprice_mean_by_productname = df.groupby('productname').agg({"farmprice_Numeric":"mean"}).reset_index()
farmprice_mean_by_productname

farmprice_mean_by_date_and_productname = df.groupby(["productname","date"]).agg({"farmprice_Numeric":"mean"}).reset_index()
farmprice_mean_by_date_and_productname

writer = pd.ExcelWriter(f"../03.output_folder/mean_distribution.xlsx", engine='xlsxwriter')
writer

farmprice_mean_by_productname.to_excel(writer, sheet_name='farmprice_mean_by_productname',startrow = 1,index=False)

sheet1 = writer.sheets['farmprice_mean_by_productname']
sheet1.set_column('A:Z',20)
sheet1.write("A1:C1","This is the mean of the farmprice by productname.")

farmprice_mean_by_date.to_excel(writer, sheet_name='farmprice_mean_by_date',startrow = 1,index=False)

writer.close()

Strawberries
Romaine Lettuce
Red Leaf Lettuce
Potatoes
Oranges
Iceberg Lettuce
Green Leaf Lettuce
Celery
Cauliflower
Carrots
Cantaloupe
Broccoli Crowns
Avocados
Broccoli Bunches
Asparagus
Flame Grapes
Thompson Grapes
Honeydews
Tomatoes
Plums
Peaches
Nectarines