# Questions:
### 1. Information of people whose age > 20
### 2. Information of people who lives in Rajshahi
### 3. Information of people whose gender is male

In [1]:
import pandas as pd

In [2]:

data = [['Anika', 20,"Dhaka","female","Student"],
       ['Raj', 22,"Rajshahi","male","Teacher"],
       ['Saarah', 27,"Dhaka","female","Engineer"],
       ['Zahra', 29,"Chittagong","female","Economist"],
       ['Abrar', 25,"Rajshahi","male","Doctor"]]
df = pd.DataFrame(data, columns=['Name', 'Age','City',"Gender",'Profession'])
print(df)

     Name  Age        City  Gender Profession
0   Anika   20       Dhaka  female    Student
1     Raj   22    Rajshahi    male    Teacher
2  Saarah   27       Dhaka  female   Engineer
3   Zahra   29  Chittagong  female  Economist
4   Abrar   25    Rajshahi    male     Doctor

In [3]:
ages = df[df['Age'] > 20]
print(ages)

     Name  Age        City  Gender Profession
1     Raj   22    Rajshahi    male    Teacher
2  Saarah   27       Dhaka  female   Engineer
3   Zahra   29  Chittagong  female  Economist
4   Abrar   25    Rajshahi    male     Doctor

In [4]:
lives = df[df['City'] == 'Rajshahi']
print(lives)

    Name  Age      City Gender Profession
1    Raj   22  Rajshahi   male    Teacher
4  Abrar   25  Rajshahi   male     Doctor

In [5]:
male = df[df["Gender"] == 'male']
print(male)

    Name  Age      City Gender Profession
1    Raj   22  Rajshahi   male    Teacher
4  Abrar   25  Rajshahi   male     Doctor