In [1]:
import pandas as pd
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas","Hadoop","Spark","Python"],
    'Fee' :[22000,25000,23000,24000,26000,25000,25000,22000],
    'Duration':['30days','50days','55days','40days','60days','35days','55days','50days'],
    'Discount':[1000,2300,1000,1200,2500,1300,1400,1600]
                })
df = pd.DataFrame(technologies, columns=['Courses','Fee','Duration','Discount'])
print(  df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   55days      1000
3   Python  24000   40days      1200
4   Pandas  26000   60days      2500
5   Hadoop  25000   35days      1300
6    Spark  25000   55days      1400
7   Python  22000   50days      1600

In [2]:
# Use GroupBy() to compute the sum
df2 = df.groupby('Courses').sum()
print(  df2)

           Fee      Duration  Discount
Courses
Hadoop   48000  55days35days      2300
Pandas   26000        60days      2500
PySpark  25000        50days      2300
Python   46000  40days50days      2800
Spark    47000  30days55days      2400

In [3]:
# Use GroupBy() & compute sum on specific column
df2 = df.groupby('Courses')['Fee'].sum()
print(  df2)

Courses
Hadoop     48000
Pandas     26000
PySpark    25000
Python     46000
Spark      47000
Name: Fee, dtype: int64

In [4]:
# Using GroupBy multiple column
df2 = df.groupby(['Courses','Duration'])['Fee'].sum()
print("Get sum of the grouped data:\n", df2)

Get sum of the grouped data:
 Courses  Duration
Hadoop   35days      25000
         55days      23000
Pandas   60days      26000
PySpark  50days      25000
Python   40days      24000
         50days      22000
Spark    30days      22000
         55days      25000
Name: Fee, dtype: int64

In [5]:
import pandas as pd

# Sample DataFrame with a 'Date' column containing dates
data = {
    'Date': ['2022-01-01', '2022-02-01', '2023-01-01', '2023-02-01'],
    # Other columns...
}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Group by year and perform aggregation or other operations
grouped_by_year = df.groupby(df['Date'].dt.year)

# For example, you can count the number of rows in each group
count_by_year = grouped_by_year.size()

print(count_by_year)

Date
2022    2
2023    2
dtype: int64