In [1]:
import pandas as pd
import os

In [2]:
file=os.listdir()
file

['.ipynb_checkpoints',
 'Divided Dataset based on product name',
 'ProductPriceIndex.csv',
 'six_farhan.ipynb']

In [3]:
data = pd.read_csv("ProductPriceIndex.csv")
data

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%

#### one

In [4]:
products=data["productname"]
products

0            Strawberries
1         Romaine Lettuce
2        Red Leaf Lettuce
3                Potatoes
4                 Oranges
               ...
15761     Broccoli Crowns
15762    Broccoli Bunches
15763         Cauliflower
15764             Carrots
15765          Cantaloupe
Name: productname, Length: 15766, dtype: object

###### one

In [3]:
try:
     for product in products:
        print(product)
        print('---------->',product[6]) 
except:
     print("Error")

NameError: name 'products' is not defined

In [6]:
try :
    os.mkdir('Divided Dataset based on product name')
except :
    print('Exists')

Exists

In [7]:
 products.unique()

array(['Strawberries', 'Romaine Lettuce', 'Red Leaf Lettuce', 'Potatoes',
       'Oranges', 'Iceberg Lettuce', 'Green Leaf Lettuce', 'Celery',
       'Cauliflower', 'Carrots', 'Cantaloupe', 'Broccoli Crowns',
       'Avocados', 'Broccoli Bunches', 'Asparagus', 'Flame Grapes',
       'Thompson Grapes', 'Honeydews', 'Tomatoes', 'Plums', 'Peaches',
       'Nectarines'], dtype=object)