In [1]:
import pandas as pd

# first

# parse_dates='date column name' date_format='in which format the current column dat eis'

# Second

##### pd.to_datetime(df['Date'],format='%Y-%m-%d %I-%p')=======>>>>>>>
#### to_datetime-----> is convert in the date formate
# pd.to_datetime(df['column name of the date'],format='%Y-%m-%d %I-%p(which format are in the date column ***not mandatory***)')

In [2]:
# 1st
df = pd.read_csv('ETH_1h.csv', parse_dates=['Date'], date_format='%Y-%m-%d %I-%p')
df

#2nd 
### same like in[3]-------- in different way
#df['Date']=pd.to_datetime(df['Date'],format='%Y-%m-%d %I-%p')
#df['Date']

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [3]:
df.head(8)

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3 2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4 2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
5 2020-03-13 15:00:00  ETHUSD  128.39  128.90  116.06  124.85  7378976.00
6 2020-03-13 14:00:00  ETHUSD  134.03  137.90  125.50  128.39  3733916.89
7 2020-03-13 13:00:00  ETHUSD  131.35  140.95  128.99  134.03  9582732.93

In [4]:
df.loc[0,'Date'].day_name()
#df['Date'][0].day_name()

'Friday'

In [6]:
df['Date']  ## all dates of the column

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [7]:
df['Date'].dt.day_name() ## day of the date in that columns

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [8]:
df['week day']=df['Date'].dt.day_name() ## here we create new column and add column value as date  day name

In [9]:
df

,Date,Symbol,Open,High,Low,Close,Volume,week day
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [10]:
df['Date'].min() #### using min method we can find the earliest time of the column

Timestamp('2017-07-01 11:00:00')

In [11]:
df['Date'].max() #### using min method we can find the max time of the column

Timestamp('2020-03-13 20:00:00')

In [12]:
df['Date'].max() - df['Date'].min() ### find the time duration

Timedelta('986 days 09:00:00')