In [1]:
import pandas as pd

In [2]:
persondetail=[
                ['Farhan','Shafiq',29,'Male'],
                ['Rajib','',45, 'Male'],
                ['Jhinuk','Afrin',24,''],
                ['Nabila','Momtarin',23,'Female'],
                ['Mahmud','Sarker',29,'Male'],
                ['Nila', 'Merchant',27, 'Female'],
                ['Farhan','Shafiq',29,'Male'],
                ['Rajib', 'Hawlader',45, 'Male'],
                ['Jhinuk', 'Afrin',24, 'Female'],
                ['Nabila','Momtarin','','Female'],
                ['Mahmud','Sarker',29,'Male'],
                ['',' Merchant',27, 'Female'],
                ['Farhan','Shafiq',29,'Male'],
                ['','Hawlader',45,'Male'],
                ['Jhinuk', 'Afrin',24, 'Female'],
                ['Nabila','Momtarin',23,'Female'],
                ['Mahmud','',29,'Male'],
                ['Nila', 'Merchant',27, 'Female'],
                ['Farhan','Shafiq',29],
                ['','Hawlader',45, 'Male'],
                ['Jhinuk', 'Afrin',24, 'Female'],
                ['Nabila','',23,'Female'],
                ['Mahmud','Sarker','','Male'],
                ['Nila',' Merchant','', 'Female'],
                ['Farhan','Shafiq','','Male'],
                ['Rajib', 'Hawlader', 'Male'],
                ['Jhinuk', 'Afrin',24, 'Female'],
                ['Nabila','Momtarin',23,'Female'],
                ['Mahmud','Sarker',29,'Male'],
                ['Nila', 'Merchant',27, 'Female'],
                ['Farhan','Shafiq',29,'Male'],
                ['Rajib', 'Hawlader',45, 'Male'],
                ['Jhinuk', 'Afrin',24, 'Female'],
                ['Nabila','Momtarin',23,'Female'],
                ['Mahmud','Sarker',29,'Male'],
                ['Nila', 'Merchant',27, 'Female']
        
        ]
df=pd.DataFrame(persondetail,columns=['First Name', 'Last Name','Age','Gender'])
df

   First Name  Last Name   Age  Gender
0      Farhan     Shafiq    29    Male
1       Rajib               45    Male
2      Jhinuk      Afrin    24
3      Nabila   Momtarin    23  Female
4      Mahmud     Sarker    29    Male
5        Nila   Merchant    27  Female
6      Farhan     Shafiq    29    Male
7       Rajib   Hawlader    45    Male
8      Jhinuk      Afrin    24  Female
9      Nabila   Momtarin        Female
10     Mahmud     Sarker    29    Male
11              Merchant    27  Female
12     Farhan     Shafiq    29    Male
13              Hawlader    45    Male
14     Jhinuk      Afrin    24  Female
15     Nabila   Momtarin    23  Female
16     Mahmud               29    Male
17       Nila   Merchant    27  Female
18     Farhan     Shafiq    29    None
19              Hawlader    45    Male
20     Jhinuk      Afrin    24  Female
21     Nabila               23  Female
22     Mahmud     Sarker          Male
23       Nila   Merchant        Female
24     Farhan     Shafiq          Male
25      Rajib   Hawlader  Male    None
26     Jhinuk      Afrin    24  Female
27     Nabila   Momtarin    23  Female
28     Mahmud     Sarker    29    Male
29       Nila   Merchant    27  Female
30     Farhan     Shafiq    29    Male
31      Rajib   Hawlader    45    Male
32     Jhinuk      Afrin    24  Female
33     Nabila   Momtarin    23  Female
34     Mahmud     Sarker    29    Male
35       Nila   Merchant    27  Female

In [3]:
df.shape ##row/and column finding

(36, 4)

In [4]:
df.head(2) ## head is using to finding the given number of rows from upper side

  First Name Last Name Age Gender
0     Farhan    Shafiq  29   Male
1      Rajib            45   Male

In [5]:
df.tail(2) ## tail is using to finding the given number of rows from lower side

   First Name Last Name Age  Gender
34     Mahmud    Sarker  29    Male
35       Nila  Merchant  27  Female

In [6]:
df[2:5] #using this pattern will print the columns from starting from column to (ending-1)---->here its start from column 2 and end in 4 cause this patter isn't accept the last one

  First Name Last Name Age  Gender
2     Jhinuk     Afrin  24
3     Nabila  Momtarin  23  Female
4     Mahmud    Sarker  29    Male

In [7]:
df['Age'] ### same is df.Age

0       29
1       45
2       24
3       23
4       29
5       27
6       29
7       45
8       24
9
10      29
11      27
12      29
13      45
14      24
15      23
16      29
17      27
18      29
19      45
20      24
21      23
22
23
24
25    Male
26      24
27      23
28      29
29      27
30      29
31      45
32      24
33      23
34      29
35      27
Name: Age, dtype: object

In [8]:
type(df['Age']) ## which type we will find by this

pandas.core.series.Series

In [9]:
df[['First Name','Age','Gender']] ##we will print the only selected column in this way

   First Name   Age  Gender
0      Farhan    29    Male
1       Rajib    45    Male
2      Jhinuk    24
3      Nabila    23  Female
4      Mahmud    29    Male
5        Nila    27  Female
6      Farhan    29    Male
7       Rajib    45    Male
8      Jhinuk    24  Female
9      Nabila        Female
10     Mahmud    29    Male
11               27  Female
12     Farhan    29    Male
13               45    Male
14     Jhinuk    24  Female
15     Nabila    23  Female
16     Mahmud    29    Male
17       Nila    27  Female
18     Farhan    29    None
19               45    Male
20     Jhinuk    24  Female
21     Nabila    23  Female
22     Mahmud          Male
23       Nila        Female
24     Farhan          Male
25      Rajib  Male    None
26     Jhinuk    24  Female
27     Nabila    23  Female
28     Mahmud    29    Male
29       Nila    27  Female
30     Farhan    29    Male
31      Rajib    45    Male
32     Jhinuk    24  Female
33     Nabila    23  Female
34     Mahmud    29    Male
35       Nila    27  Female

In [10]:
#df['Age'].max() #max value of the Age columns

In [11]:
#df['Age'].min() #min value of the Age columns

In [12]:
df.describe() ## statics result will show

       First Name Last Name  Age  Gender
count          36        36   36      34
unique          7         8    7       3
top        Farhan    Shafiq   29  Female
freq            6         6   10      17

In [13]:
df.set_index('Age') ## in this way we can make a column as index number

     First Name  Last Name  Gender
Age
29       Farhan     Shafiq    Male
45        Rajib               Male
24       Jhinuk      Afrin
23       Nabila   Momtarin  Female
29       Mahmud     Sarker    Male
27         Nila   Merchant  Female
29       Farhan     Shafiq    Male
45        Rajib   Hawlader    Male
24       Jhinuk      Afrin  Female
         Nabila   Momtarin  Female
29       Mahmud     Sarker    Male
27                Merchant  Female
29       Farhan     Shafiq    Male
45                Hawlader    Male
24       Jhinuk      Afrin  Female
23       Nabila   Momtarin  Female
29       Mahmud               Male
27         Nila   Merchant  Female
29       Farhan     Shafiq    None
45                Hawlader    Male
24       Jhinuk      Afrin  Female
23       Nabila             Female
         Mahmud     Sarker    Male
           Nila   Merchant  Female
         Farhan     Shafiq    Male
Male      Rajib   Hawlader    None
24       Jhinuk      Afrin  Female
23       Nabila   Momtarin  Female
29       Mahmud     Sarker    Male
27         Nila   Merchant  Female
29       Farhan     Shafiq    Male
45        Rajib   Hawlader    Male
24       Jhinuk      Afrin  Female
23       Nabila   Momtarin  Female
29       Mahmud     Sarker    Male
27         Nila   Merchant  Female

In [14]:
df.reset_index(inplace=True) ## We can reset the index

In [15]:
df.to_csv("new.csv",index=False)

In [16]:
pd.read_csv('new.csv') ## read the csv file

    index First Name  Last Name   Age  Gender
0       0     Farhan     Shafiq    29    Male
1       1      Rajib        NaN    45    Male
2       2     Jhinuk      Afrin    24     NaN
3       3     Nabila   Momtarin    23  Female
4       4     Mahmud     Sarker    29    Male
5       5       Nila   Merchant    27  Female
6       6     Farhan     Shafiq    29    Male
7       7      Rajib   Hawlader    45    Male
8       8     Jhinuk      Afrin    24  Female
9       9     Nabila   Momtarin   NaN  Female
10     10     Mahmud     Sarker    29    Male
11     11        NaN   Merchant    27  Female
12     12     Farhan     Shafiq    29    Male
13     13        NaN   Hawlader    45    Male
14     14     Jhinuk      Afrin    24  Female
15     15     Nabila   Momtarin    23  Female
16     16     Mahmud        NaN    29    Male
17     17       Nila   Merchant    27  Female
18     18     Farhan     Shafiq    29     NaN
19     19        NaN   Hawlader    45    Male
20     20     Jhinuk      Afrin    24  Female
21     21     Nabila        NaN    23  Female
22     22     Mahmud     Sarker   NaN    Male
23     23       Nila   Merchant   NaN  Female
24     24     Farhan     Shafiq   NaN    Male
25     25      Rajib   Hawlader  Male     NaN
26     26     Jhinuk      Afrin    24  Female
27     27     Nabila   Momtarin    23  Female
28     28     Mahmud     Sarker    29    Male
29     29       Nila   Merchant    27  Female
30     30     Farhan     Shafiq    29    Male
31     31      Rajib   Hawlader    45    Male
32     32     Jhinuk      Afrin    24  Female
33     33     Nabila   Momtarin    23  Female
34     34     Mahmud     Sarker    29    Male
35     35       Nila   Merchant    27  Female

In [17]:
x=pd.read_csv('new.csv',skiprows=1)
x ## we skip the rows by skip rows here we see our header is not here

     0  Farhan     Shafiq    29    Male
0    1   Rajib        NaN    45    Male
1    2  Jhinuk      Afrin    24     NaN
2    3  Nabila   Momtarin    23  Female
3    4  Mahmud     Sarker    29    Male
4    5    Nila   Merchant    27  Female
5    6  Farhan     Shafiq    29    Male
6    7   Rajib   Hawlader    45    Male
7    8  Jhinuk      Afrin    24  Female
8    9  Nabila   Momtarin   NaN  Female
9   10  Mahmud     Sarker    29    Male
10  11     NaN   Merchant    27  Female
11  12  Farhan     Shafiq    29    Male
12  13     NaN   Hawlader    45    Male
13  14  Jhinuk      Afrin    24  Female
14  15  Nabila   Momtarin    23  Female
15  16  Mahmud        NaN    29    Male
16  17    Nila   Merchant    27  Female
17  18  Farhan     Shafiq    29     NaN
18  19     NaN   Hawlader    45    Male
19  20  Jhinuk      Afrin    24  Female
20  21  Nabila        NaN    23  Female
21  22  Mahmud     Sarker   NaN    Male
22  23    Nila   Merchant   NaN  Female
23  24  Farhan     Shafiq   NaN    Male
24  25   Rajib   Hawlader  Male     NaN
25  26  Jhinuk      Afrin    24  Female
26  27  Nabila   Momtarin    23  Female
27  28  Mahmud     Sarker    29    Male
28  29    Nila   Merchant    27  Female
29  30  Farhan     Shafiq    29    Male
30  31   Rajib   Hawlader    45    Male
31  32  Jhinuk      Afrin    24  Female
32  33  Nabila   Momtarin    23  Female
33  34  Mahmud     Sarker    29    Male
34  35    Nila   Merchant    27  Female

In [18]:
df2=pd.read_csv('new.csv',header=None,names=['F Name','L Name','Age','Gender']) ## we can add header if there is no header 
df2

           F Name     L Name   Age  Gender
index  First Name  Last Name   Age  Gender
0          Farhan     Shafiq    29    Male
1           Rajib        NaN    45    Male
2          Jhinuk      Afrin    24     NaN
3          Nabila   Momtarin    23  Female
4          Mahmud     Sarker    29    Male
5            Nila   Merchant    27  Female
6          Farhan     Shafiq    29    Male
7           Rajib   Hawlader    45    Male
8          Jhinuk      Afrin    24  Female
9          Nabila   Momtarin   NaN  Female
10         Mahmud     Sarker    29    Male
11            NaN   Merchant    27  Female
12         Farhan     Shafiq    29    Male
13            NaN   Hawlader    45    Male
14         Jhinuk      Afrin    24  Female
15         Nabila   Momtarin    23  Female
16         Mahmud        NaN    29    Male
17           Nila   Merchant    27  Female
18         Farhan     Shafiq    29     NaN
19            NaN   Hawlader    45    Male
20         Jhinuk      Afrin    24  Female
21         Nabila        NaN    23  Female
22         Mahmud     Sarker   NaN    Male
23           Nila   Merchant   NaN  Female
24         Farhan     Shafiq   NaN    Male
25          Rajib   Hawlader  Male     NaN
26         Jhinuk      Afrin    24  Female
27         Nabila   Momtarin    23  Female
28         Mahmud     Sarker    29    Male
29           Nila   Merchant    27  Female
30         Farhan     Shafiq    29    Male
31          Rajib   Hawlader    45    Male
32         Jhinuk      Afrin    24  Female
33         Nabila   Momtarin    23  Female
34         Mahmud     Sarker    29    Male
35           Nila   Merchant    27  Female

In [19]:
df2.to_csv('new2.csv',index=False) ## new csv file creation ,index=False means this will help to not print the index in csv file

In [21]:
def convert_age(gender): # converters method taking the custom build functions for cleaning or reassembling the data. It works on the column
    if gender=="Male":  # in mapping way .
        return "M"
    return gender

pd.read_csv('new2.csv',converters={
    'Gender':convert_age
})

        F Name     L Name   Age  Gender
0   First Name  Last Name   Age  Gender
1       Farhan     Shafiq    29       M
2        Rajib        NaN    45       M
3       Jhinuk      Afrin    24
4       Nabila   Momtarin    23  Female
5       Mahmud     Sarker    29       M
6         Nila   Merchant    27  Female
7       Farhan     Shafiq    29       M
8        Rajib   Hawlader    45       M
9       Jhinuk      Afrin    24  Female
10      Nabila   Momtarin   NaN  Female
11      Mahmud     Sarker    29       M
12         NaN   Merchant    27  Female
13      Farhan     Shafiq    29       M
14         NaN   Hawlader    45       M
15      Jhinuk      Afrin    24  Female
16      Nabila   Momtarin    23  Female
17      Mahmud        NaN    29       M
18        Nila   Merchant    27  Female
19      Farhan     Shafiq    29
20         NaN   Hawlader    45       M
21      Jhinuk      Afrin    24  Female
22      Nabila        NaN    23  Female
23      Mahmud     Sarker   NaN       M
24        Nila   Merchant   NaN  Female
25      Farhan     Shafiq   NaN       M
26       Rajib   Hawlader  Male
27      Jhinuk      Afrin    24  Female
28      Nabila   Momtarin    23  Female
29      Mahmud     Sarker    29       M
30        Nila   Merchant    27  Female
31      Farhan     Shafiq    29       M
32       Rajib   Hawlader    45       M
33      Jhinuk      Afrin    24  Female
34      Nabila   Momtarin    23  Female
35      Mahmud     Sarker    29       M
36        Nila   Merchant    27  Female

# Python Pandas Tutorial 5: Handle Missing Data: fillna, dropna, interpolate

In [23]:
newDf=pd.read_csv('weather_data.csv')   ###csv file reading
newDf

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [24]:
newDf.fillna(10) ##this replace all NaN value with the given value-----here the given value is 10

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         10.0        9.0   Sunny
2   1/5/2017         28.0       10.0    Snow
3   1/6/2017         10.0        7.0      10
4   1/7/2017         32.0       10.0    Rain
5   1/8/2017         10.0       10.0   Sunny
6   1/9/2017         10.0       10.0      10
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny